{% extends 'base.html'%}
{%import 'macro.html' as macro%}
{% block styles%}
<div class="container">
    <div class="col-6">
        <div class="fine">
            <h2>{{pitches.actual_pitch}}</h2>

        </div>

    </div>
    <div class="col-6">
        <h3>Comments</h3>
        {% if Comments%}
        {{macro.displaySpecificPitch(comment)}}
        <hr>
        {% else%}
        <h2>No Comments</h2>
        {%endif%}
        <p class="btn btn-primary" href="/pitch/new/{{pitches.id}}">Write your comment</p>
    </div>

</div>
{%endblock%}