{% extends 'base.html'%}
{% import 'bootstrap/wtf.html'as wtf%}
{% block styles%}
<link rel="stylesheet" href="styles.css">
{{supper()}}
{%endblock%}

{% block contet%}
<div class="container" style="text-align: center;">
    <div class="fine">
        <hr>
        {{macro.displayPitchList(business)}}
    </div>
    <div>
    <p> A plumber approached me because while he’s a very good plumber he had no idea how to improve the profitability of his business.
     I set up a simple reporting system for him so his numbers are always up to date, and he can do future forecasting for his business.
     I’m happy to report that based on this information he was able to increase his profit by 17% last year.
     A great lead for me is a trade professional.
    </p>
          <ul>          
   <li>author=Improv Andy</li> 
    <li>category=business</li>,
    <li>upvotes=1</li>
    <li>downvotes=0</li>
</ul>
</div>
{%endblock%}
