{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block styles%}
    {{super()}}
    {% endblock%}
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Kosugi|Oswald&display=swap" rel="stylesheet">

    </head>
    <body style="background-color: chocolate;">
{% block content%}    
<div class="w3-siidebar w3-light blue w3 bar-block" id="barside">
    <div class="fine"></div>
    <p style="font-family:'Oswald', serif; text-align: center;font-size: 30px;">Do you want to write a pitch. Sign up <a href="authenticate/login">here</a></p>
    
</div>
{% endblock%}
</body>
</html>